.contact {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.delete {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 19px;
  cursor: pointer;
}

.info {
  display: flex;
  gap: 30px;
}

.name {
  width: 300px;
  font-weight: bold;
}

.phone {
  margin-right: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.search {
  width: 250px;
  height: 30px;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid black;
}
